
<header class="row spacing">
  <nav class="col-md-8 col-md-offset-2">
    <ul class="nav nav-tabs">
      <li routerLinkActive="active"><a [routerLink]="['admin-home']">Signin</a></li>
      <li routerLinkActive="active"><a [routerLink]="['add-employee']">Add Team Member</a></li>
      <li routerLinkActive="active"><a [routerLink]="['view-employee']">View Team Members</a></li>
      <!-- <li routerLinkActive="active" *ngIf="isLoggedIn()"><a [routerLink]="['logout']">Logout</a></li> -->
    </ul>
  </nav>
</header>

<router-outlet></router-outlet>
