<div class="container">
   <h3>Add New Award</h3>
   <form (ngSubmit)="onSubmit(f)" #f="ngForm">
     <div class="form-group">
       <label for="title">Title</label>
       <input type="text" class="form-control" id="title" name="title" ngModel required />
     </div>
     <div class="form-group">
       <label for="description">Description</label>
       <textarea type="text" class="form-control" id="description" name="description" ngModel required></textarea>
     </div>
     <div class="form-group">
       <label for="cost">Points Cost</label>
       <input type="number" class="form-control" id="cost" name="cost" ngModel required />
     </div>
      <button type="submit" class="btn btn-success">Save</button>
   </form>
</div>
