<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h3>Add a new Award</h3>
      <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="title">Title</label>
          <input type="text" class="form-control" id="title" formControlName="title" />
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <input type="text" class="form-control" id="description" formControlName="description" />
        </div>
        <div class="form-group">
          <label for="cost">Cost</label>
          <input type="number" class="form-control" id="cost" formControlName="cost"/>
        </div>
        <div class="drop-container" ngFileDrop (uploadOutput)="onUploadOutput($event)" [uploadInput]="uploadInput" [ngClass]="{ 'is-drop-over': dragOver }">
       <h1>Drag & Drop</h1>
     </div>

     <label class="upload-button">
       <input type="file" ngFileSelect (uploadOutput)="onUploadOutput($event)" [uploadInput]="uploadInput" multiple>
       or choose file(s)
     </label>

     <button type="button" class="start-upload-btn" (click)="startUpload()">
       Start Upload
     </button>
       <hr>
        <button class="btn btn-default" type="submit" [disabled]="!myForm.valid">Save</button>
      </form>

    </div>
