
<div class="container">
  <h3>{{company}} Team Members</h3>
  <table class="table table-hover">
    <thead class="thead-inverse">
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Points</th>
      <th>Awards Pending</th>
    </tr>
    </thead>
    <tbody>
     <tr *ngFor="let employee of employees; let i = index">
       <td>{{employee.firstName | capitalize}}</td>
       <td>{{employee.lastName | capitalize}}</td>
       <td>{{employee.email}}</td>
       <td>{{employee.points}}</td>
       <td>Redemtion Alert</td>
     </tr>
    </tbody>
  </table>
</div>
