
<div class="container">
  <div class="row">
    <div class="col-md-4 col-sm-12 col-xs-12">
      <div class="icon-box" [routerLink]="['/view']">
        <i class="fa fa-star-o" aria-hidden="true"></i>
        <p>View Rewards</p>
      </div>
    </div>
    <div class="col-md-4 col-sm-12 col-xs-12">
       <div class="icon-box">
         <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
         <p>Recognize</p>
       </div>
    </div>
    <div class="col-md-4 col-sm-12 col-xs-12">
      <div class="icon-box">
        <i class="fa fa-diamond" aria-hidden="true"></i>
        <p>View Perks</p>
      </div>
    </div>
  </div>
  <div class="row">
    <h1>Full width section that displays team recognition</h1>
  </div>

</div>
